:root {
    --color-primary: #f4f4f4;
    --color-secondary: #6b5454;

    --color-light: #fff;

    --color-light-gray1: #f4f4f4;
    --color-light-gray2: #eee;
    --color-light-gray3: #d9d9d9;

    --color-text-primary: #333;
    --color-text-secondary: #666;
    --color-text-tertiary: #999;

    --color-link: #6eacda;
    --color-dark-blue: #0b1a33;

    --color-light-green: #22c55e32;
    --color-green: #22c55e;

    --color-danger: #ef4444;
}
