:root {
    --color-light-gray1: #f4f4f4;
    --color-primary: #f4f4f4;
    --color-secondary: #6b5454;

    --color-text-primary: #333;
    --color-text-secondary: #666;
    --color-text-tertiary: #999;
}
