.home-page {
    .hero {
        width: 100%;
        height: 581px;
        border-radius: 10px;
        overflow: hidden;

        position: relative;

        img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-info {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.9;

            max-width: 561px;
            margin: 20px;
            padding: 30px;
            background-color: var(--color-light-gray1);
            border-radius: 12px;

            text-align: center;

            .hero-button {
                margin-top: 30px;
                width: fit-content;
                color: var(--color-primary);
                background-color: var(--color-text-primary);

                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }

    .trending {
        padding: 20px;
        padding-top: 40px;
        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-list {
            margin: 20px 0;

            .trending-item {
                position: relative;
                height: 350px;
                border-radius: 12px;
                overflow: hidden;

                .trending-item-overlay {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: #000;
                    opacity: 0.5;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .trending-content {
                    padding: 20px;
                    position: absolute;
                    bottom: 0;
                    height: 150px;
                    overflow: hidden;

                    button {
                        padding: 10px;
                        text-transform: capitalize;
                        color: var(--color-primary);
                        background-color: var(--color-secondary);
                        border: none;
                        outline: none;
                        width: fit-content;

                        &:hover {
                            color: var(--color-primary);
                        }
                    }

                    h3 {
                        margin-top: 10px;
                        color: var(--color-primary);
                    }
                }
            }
        }
    }

    .main-post {
        &-content {
            display: flex;
            gap: 30px;

            .author {
                color: var(--color-link);
            }

            &-left {
                .main-post-content-top-left {
                    display: flex;
                    gap: 30px;
                    align-items: center;
                    height: 50px;
                    margin-bottom: 30px;

                    span {
                        --size: 20px;
                        display: inline-block;
                        width: var(--size);
                        height: var(--size);
                    }

                    h3 {
                        text-transform: uppercase;
                        a {
                            color: var(--color-text-secondary);
                            text-decoration: underline;
                        }
                    }
                }

                .card-post {
                    h3 {
                        margin-bottom: 10px;
                        color: var(--color-text-primary);
                    }

                    p {
                        color: var(--color-text-primary);
                    }

                    a {
                        color: var(--color-link);
                        cursor: pointer;
                    }

                    &:hover {
                        transform: translate(-10px, -10px);
                        transition: all 0.5s linear;
                        box-shadow:
                            rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
                            rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
                    }
                    &:not(:hover) {
                        transform: translate(0, 0);
                        transition: all 0.5s linear;
                    }
                }
            }

            &-right {
                .main-post-search {
                    height: 50px;
                    margin-bottom: 30px;
                    background-color: white;
                }

                .main-post-category {
                    margin-bottom: 30px;
                    ul {
                        margin-top: 10px;
                        max-height: 400px;
                        overflow-y: scroll;

                        &::-webkit-scrollbar {
                            display: none;
                        }
                        -ms-overflow-style: none; /* IE and Edge */
                        scrollbar-width: none; /* Firefox */

                        li {
                            padding: 4px 12px !important;
                            border: none;
                            p {
                                font-family: "Inter", sans-serif !important;
                                color: var(--color-text-primary) !important;
                                text-transform: capitalize;
                                opacity: 0.8;
                                font-size: 16px;
                                cursor: pointer;

                                &:hover {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }

                .late-post {
                    h2 {
                        text-transform: uppercase;
                        font-weight: 700;
                    }

                    .list-post-wrapper {
                        margin-top: 20px;
                        display: flex;
                        gap: 15px;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        flex-direction: column;

                        .card-late-post-item {
                            display: flex;
                            gap: 10px;
                            justify-content: space-between;
                            align-items: center;
                            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                            border-radius: 12px;
                            overflow: hidden;
                            padding-right: 20px;

                            .image-wrapper {
                                --size: 100px;
                                width: var(--size);
                                height: var(--size);
                                flex-shrink: 0;

                                img {
                                    border-radius: 12px;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                            .post-info {
                                p,
                                a {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
