.wrapper-layout-manager {
  display: flex;
  gap: 20px;
  padding: 20px;

  .content-left {
    background-color: var(--color-light);
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    .manage-nav {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .content-item {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease;

        &.active {
          opacity: 0.8;
          background-color: rgb(241, 251, 247);
          color: rgb(46, 186, 193);
        }

        &:hover {
          opacity: 1;
          background-color: rgb(241, 251, 247);
          color: rgb(46, 186, 193);
        }
      }
      .icon {
        --size: 25px;
        width: var(--size);
        height: var(--size);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
        border-radius: 50%;
      }
    }
  }

  .content-right {
    flex: 1;
    padding: 20px;
    border-radius: 4px;
    background-color: var(--color-light);
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .your-posts-wrapper {
      min-height: 800px;
      .your-posts-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        h2 {
          color: rgb(46, 186, 193);
          font-weight: 700;
          text-transform: uppercase;
        }

        .your-post-search {
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
      }
    }

    .profile-wrapper {
      padding: 30px;

      .ant-form-item.field-wrapper.css-dev-only-do-not-override-1uq9j6g {
        margin-bottom: 0 !important;
      }

      .profile-cover {
        --size: 80px;
        display: inline-block;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin-bottom: 20px;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          position: static !important;
        }

        .wrapper-icon {
          position: absolute;
          width: 100%;
          height: 50%;
          background-color: rgba(0, 0, 0, 0.321);
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .field-wrapper {
        label {
          color: var(--color-text-primary);
          font-weight: 700;
          text-transform: uppercase;
          opacity: 0.6;
        }
      }
    }
  }
}
